.price-wrap-box{
	background-color: #FFFFFF;
	width: 100vw;
	padding: 26rpx;
	.price-wrap{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		color: #ff3624;
		.price-item-prefix,.price-item,.price-item-end{
			display: flex;
			align-items: flex-end;
			font-weight: 600;
		}
		.price-item{
			font-size: 60rpx;
			line-height: 56rpx;
		}
		
		.item-price-origin,.item-sale {
		    font-size: 20rpx;
		    color: #a9a9a9;
		    font-weight: lighter;
		}
		.item-price-origin{
			display: flex;
			align-items: flex-end;
			text-decoration: line-through;
		}
		.item-sale{
			position: absolute;
			right: 30rpx;
			top: 27rpx;
		}
	}
	
	
	.title-wrap{
		margin-top: 15rpx;
		display: flex;
		flex-wrap: wrap;
		height: 80rpx;
		position: relative;
		.item-cp{
			background-color: #ff3624;
			border-radius: 15rpx;
			padding: 5rpx 12rpx;
			margin-right: 5rpx;
			font-size: 22rpx;
			text-align: center;
			color: #FFFFFF;
			letter-spacing: 3rpx;
			height: 40rpx;
			display: flex;
			align-items: center;
			margin-top: 5rpx;
		}
		.item-title{
			position: absolute;
			left: 11rpx;
			text-indent: 96rpx;
			font-size: 36rpx;
			font-weight: 700;
		}
	}
	
	.item-coupon-wrap{
		// margin-top: 35rpx;
		// width: 100%;
		// position: relative;
		// .item-coupon-price{
		// 	position: absolute;
		// 	top: 31rpx;
		// 	left: 78rpx;
		// 	font-size: 52rpx;
		// 	color: #ffffff;
		// }
		// .item-coupon-time{
		// 	position: absolute;
		// 	top: 72rpx;
		// 	right: 258rpx;
		// 	font-size: 18rpx;
		// 	color: #ebd8d7;
		// }
		.app {
		  padding: 20rpx;
		  background: #eee;
		  margin-top: 20rpx;
		  .wrapper {
		    margin: 0 auto;
		    width: 100%;
			height: 220rpx;
		    display: flex;
		    background:linear-gradient(-90deg,rgba(250,173,82,1),rgba(254,50,103,1));
		    /*实现颜色渐变 */
			
			/*前半部分样式*/
			.content {
			  position: relative;
			  flex: 1;
			  padding: 20rpx 30rpx;
			  text-align: center;
			  
			  
			  .money {
			    font-size: 100rpx;
			    color: #eee;
				text {
				  font-size: 50rpx;
				  padding-right: 20rpx;
				}
			  }
			  
			  .co {
			    padding-top:10rpx;
				.co_w {
				  width: 64rpx;
				  height: 1rpx;
				  background: #fff;
				  margin-bottom: -20rpx;
				}
				
				.title {
				  color: #eee;
				  font-size: 30rpx;
				}
				.co_l {
				  width: 64rpx;
				  height: 1rpx;
				  background: #fff;
				  margin-left: 260rpx;
				  margin-top: -20rpx;
				}
			  }
			}
			
			/*给前半部分加两个伪类，基本样式如下*/.content:before, .content:after{
			    content: '';
			    position: absolute;
			    width: 32rpx;
			    height: 16rpx;
			    background: #eee;
			    left: -16rpx;
			    z-index: 1;
			}
			
			
			/*中间竖直虚线样式*/
			.split-line {
			    position: relative;
			    flex: 0 0 0;
			    margin: 0 10rpx 0 6rpx;
			    border-left: 4rpx dashed #eee;
			}
			
			/*给虚线加两个伪类，基本样式如下*/
			.split-line:before, .split-line:after {
			    content: '';
			    position: absolute;
			    width: 32rpx;
			    height: 16rpx;
			    background: #eee;
			    left: -18rpx;
			    z-index: 1;
			}
			
			/*后半部分样式*/
			.tip {
			  position: relative;
			  padding:  20rpx 60rpx;
			  padding-left: 20rpx;
			  flex: 0 0 300rpx;
			  text-align: center;
			  .conditions {
			    color: #eee;
			    font-size: 30rpx;
			    padding:15rpx;
			  }
			  .get-time{
				  font-size: 20rpx;
				  color: #eee;
			  }
			  .useNow {
				  margin-top: 20rpx;
			    color: rgba(254,50,103,1);
			    font-size: 20rpx;
			    border-radius: 50rpx;
			    border-style: none;
			  }
			}
			
			/*给前半部分加两个伪类，基本样式如下*/
			.tip:before, .tip:after{
			    content: '';
			    position: absolute;
			    width: 32rpx;
			    height: 16rpx;
			    background:#eee;
			    right: 32rpx;
			    z-index: 1;
			}
			
			/*几个伪类化成的圆弧的样式以及位置（置于顶部）我把它放在一起了*/
			.content:before, .tip:before, .split-line:before{
			    border-radius: 0 0 16rpx 16rpx;
			    top: 0;
			}
			
			/*几个伪类化成的圆弧的样式以及位置（置于底部）我把它放在一起了*/
			.content:after, .tip:after, .split-line:after{
			    border-radius: 16rpx 16rpx 0 0;
			    bottom: 0;
			}
		  }
		}
	}
}

.shop-info-box{
	margin: 24rpx 0;
	background-color: #FFFFFF;
	padding: 26rpx;
	display: flex;
	.item-shopname{
		font-size: 27rpx;
		display: flex;
		flex: 4;
    font-weight: 700;
	}
	.avg-wrap{
		display: flex;
		flex: 8;
		flex-wrap: wrap;
		.avg-title{
			font-size: 22rpx;
			color: #a9a9a9;
			font-weight: lighter;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 6rpx;
		}
		.avg-icon{
			margin: 0 6rpx;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.shop-picturl-box{
	margin-bottom: 100rpx;
}

.footer-features-box{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 110rpx;
	background-color: #FFFFFF;
	display: flex;
	.shop-index-wrap{
		display: flex;
		flex: 3;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		flex-wrap: wrap;
		.item-index-title{
			font-size: 24rpx;
		}
	}
	.shop-buy-wrap{
		display: flex;
		flex: 9;
		justify-content: center;
		align-items: center;
		.shop-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #f4513d;
			color: #FFFFFF;
			font-size: 44rpx;
			border-radius: 45rpx;
			width: 80%;
			height: 80%;
		}
	}
}