.navbar-title{
	font-size: 30rpx;
	display: flex;
	justify-content: start;
	align-items: center;
}	
.navbar,.search-box,.shop-type-box{
	position: fixed;
	left: 0;
	z-index: 100;
}
.search-box{
	width: 100%;
	top: 0rpx;
}
.shop-type-box{
	top: 100rpx;
}
.navbar{
	top: 200rpx;
	display: flex;
	width: 100%;
	height: 80upx;
	background: #fff;
	box-shadow: 0 2upx 10upx rgba(0,0,0,.06);
	z-index: 10;
	.nav-item{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: #757575;
		font-size: 26rpx;
		font-weight: 400;
		position: relative;
		&.current{
			color: #fa436a;
			// &:after{
			// 	content: '';
			// 	position: absolute;
			// 	left: 50%;
			// 	bottom: 0;
			// 	transform: translateX(-50%);
			// 	width: 120upx;
			// 	height: 0;
			// 	border-bottom: 4upx solid #fa436a;
			// }
		}
	}
	.p-box{
		display: flex;
		flex-direction: column;
		.yticon{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30upx;
			height: 14upx;
			line-height: 1;
			margin-left: 4upx;
			font-size: 26upx;
			color: #888;
			&.active{
				color: #fa436a;
			}
		}
		.xia{
			transform: scaleY(-1);
		}
	}
	.cate-item{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 80upx;
		position: relative;
		font-size: 44upx;
	}
}
	
.scroll-Y{
	margin-top: 300rpx;
	.item-list{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(240, 240, 240);
		.item-item {
		    width: 356rpx;
		    margin-left: 14rpx;
		    height: 646rpx;
		    border-radius: 12rpx;
		    background-color: #fff;
		    position: relative;
		    margin-top: 20rpx;
			.item-thumbnail {
			    width: 326rpx;
			    height: 326rpx;
			    border-radius: 10rpx;
			    position: absolute;
			    left: 14rpx;
			    top: 16rpx;
			}
			.item-shop-type {
			    width: 31rpx;
			    height: 31rpx;
			    top: 363rpx;
				position: absolute;
				left: 11rpx;
				border-radius: 8rpx;
			}
			.item-title {
				position: absolute;
				left: 11rpx;
			    text-indent: 36rpx;
			    top: 360rpx;
			    right: 30rpx;
			    font-size: 24rpx;
			    display: -webkit-box;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    word-wrap: break-word;
			    white-space: normal!important;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			}
			.item-price-box {
			    position: absolute;
			    left: 14rpx;
			    top: 436rpx;
			    display: flex;
			    align-items: baseline;
			    color: #f02038;
			    font-weight: 700;
				.item-price-prefix {
					font-size: 22rpx;
					margin-left: 2rpx;
					font-weight: lighter;
				}
				
				.item-price {
				    font-size: 42rpx;
				}
			}
			
			.item-coupon-box {
			    width: 96rpx;
			    height: 34rpx;
			    line-height: 34rpx;
			    position: absolute;
			    top: 450rpx;
			    right: 14rpx;
				.item-coupon-prefix {
				    width: 36rpx;
				    font-size: 20rpx;
				    color: #fff;
				    left: 0;
						height: 34rpx;
						line-height: 34rpx;
						text-align: center;
						position: absolute;
						top: 0;
				}
				.item-coupon-price {
				    height: 34rpx;
				    line-height: 34rpx;
				    text-align: center;
				    position: absolute;
				    top: 0;
						right: 0;
						width: 60rpx;
						color: #ff3624;
						font-size: 22rpx;
				}
			}
			.item-line {
			    position: absolute;
			    left: 14rpx;
			    right: 14rpx;
			    top: 508rpx;
			    height: 1rpx;
			    background: #e5e5e5;
			}
			.item-price-origin {
			    left: 14rpx;
			    text-decoration: line-through;
			}
			
			.item-price-origin,.item-sale {
			    font-size: 20rpx;
			    color: #a9a9a9;
			    font-weight: lighter;
			    position: absolute;
			    top: 526rpx;
			}
			.item-sale {
			    margin-left: 20rpx;
			    right: 14rpx;
			}
			.item-money-earn {
			    width: 320rpx;
			    height: 62rpx;
			    text-align: center;
			    line-height: 62rpx;
			    font-size: 26rpx;
			    color: #fff;
			    border-radius: 10rpx;
			    position: absolute;
			    left: 16rpx;
			    top: 568rpx;
			    font-weight: 700;
			}
		}
	}
}
